*.o
*.a
vicsetup/vicsetup
libvicsetup/depend.mak
tests/integrity/integrity
tests/integrity/keyfile
tests/luks1/keyfile
tests/luks1/luksfile
tests/luks2/keyfile
tests/luks2/luksfile
tests/verity/hashtree
tests/verity/verity
tests/verity/verity.hash
vicsetup/depend.mak
tests/cryptsetup/KEY
tests/cryptsetup/LUKS
tests/blockdev/file
tests/verity/file
tests/blockdev/test_blockdev
